html {
  scroll-behavior: smooth;
}


.footer-body {
	background-color: #e0dfde;
}

/* .footer-row div {
	margin: auto;
} */

.footer-row {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-copy {
	text-align: center;
	padding-bottom: 20px;
	color: #207578;
}

.text-nowrap {
	text-align: center;
}

.footerLinks a {
	color: black;
}

.scroll {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
	margin-top: 2rem;
    background-color: #525252;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}

.scroll:hover {
  background-color: #495057;
}

.fa-arrow-circle-up:before {
    padding: 19px;
}

.fa-arrow-circle-up:hover {
    color: black;
}

.arrowIcon {
	display: flex;
	justify-content: center;
}