.navbar {
	background: black;	
}

.nav-link {
	color: white;
	font-size: 1rem;
}

.navbar-brand img {
	height: 100%;
}

.navbar-img {
	padding-bottom: 7px;
}

.navLinkActive {
	color: #27c3cf!important;
}
